.leaflet-container {
  min-height: 90vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  height: 100%;
  flex-grow: 1;

  position: relative;
}

.menu-component {
  height: 10vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marker {
  font-size: x-large;
  font-weight: bold;
}

.get-route-menu {
  position: absolute;
  bottom: 100px;
  left: 100px;
  background-color: white;
  z-index: 999;
  cursor: pointer;
  padding: 5px;
}

.elevation-container {
  height: 150px;
  width: 100vw;
  background-color: black;
  opacity: 0.2;
  position: absolute;
  bottom: 0px;
  z-index: 999;
}