.leaflet-container {
  min-height: 90vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.menu-component {
  height: 10vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marker {
  font-size: 1.3em;
  font-weight: bold;
}

.elevation-container {
  height: 20vh;
  width: 100vw;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  bottom: 0px;
  z-index: 999;
}

.elevation-button {
  top: 65px;
  right: 11px;
  position: absolute;
  z-index: 999;
  border-radius: 4.5px;
  letter-spacing: -1px;
  width: 46.5px;
  height: 46.5px;
  margin: 0px;
  padding: 9px;
  border: 2px solid rgb(147, 147, 147);
  font-size: large;
  font-weight: bold;
}