.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  height: 20px;
  border-radius: 10px;
  margin-top: -10px;
}

.oval {
  width: 50px;
  margin-left: -25px;
}

.circle {
  height: 20px;
  margin-left: -10px;
}

.empty {
  background-color: transparent;
}
