nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: xx-large;
  background-color: aquamarine;
}

nav div {
  padding: 10px;
  background-color: grey;
  width: 30px;
  display: flex;
  justify-content: center;
}