ul {
  list-style-type: none;
  padding: 0px;
}

.mytracks-item {
  padding: 15px;
}

.mytracks-selected {
  padding: 15px;
  background-color: lightgrey;
}

.mytracks-divider {
  height: 1px;
  background-color: black;
}

.bold {
  font-weight: bold;
}